.p { /* გამოვიყენე class რომელიც მაწლევს საშუალებას მივწვდე კონკრეტულ ტეგს */
    font-size: 500px;  /* ცვლის ტექსტის ზომას 500px-ით*/
    font-style: oblique; /* ხრის ტექსტს */
    font-family: cursive, monospace, sans-serif; /* ცვლის ტექსტის ფონტს თუ ერთმა არ იმუშავა მეორეზე გადადის */
    font-weight: 700; /* ცვლის ტექსტის სიმუქეს ამ შემთხვევაში ნორმალური bold არის */
    color: aquamarine; /* ცვლის ტექსტის ფერს ამ შმთხვევაში aqumarine */
    background-color: rgb(0, 0, 0); /* ცვლის ფონის ფერს ამ შემთხვევაში შვია */
    text-align: center; /* ცვლის ტექსტის მდებარეობას ამ შემთხვევაში ცენტრშია */
}