body {
background-color: #222423;
margin: 0px;
font-family: sans-serif;
color: white;
display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #3B3B3B;
}

p {
    font-size: 1vw;
}

.nav {
    position: fixed;
    display: flex;
    background-color: #3B3B3B;
    justify-content: flex-end;
    color: #ffffff;
    height: 4vw;
    align-items: center;
    width: 100vw;
    z-index: 10000000000000;
}

.dp {
    margin-right: auto;
    margin-left: 1vw;
    font-weight: 600;
    font-size: 1vw;
}

.nav-text {
    margin-right: 2vw;
    font-size: 1vw;
}

.header {
    color: #ffffff;
}

img {
    margin-top: 4vw;
    width: 40vw;
}

h1 {
    margin-right: 10vw;
    font-size: 8vw;
    font-weight: 900;
    position: relative;
    top: -47vw;
    left: 45vw;
}

.bottom-header {
    position: relative;
    top: -50vw;
    left: 45vw;
}

.header-text {
    color: #ffffff;
    width: 45vw;
    margin: 0px;
    font-size: 1.3vw;
}

.header-hr {
    width: 40vw;
    border:0.1px solid white;
    position: relative;
    top: -77vw;
    left: 51.9vw
}

button {
    width: 13vw;
    height: 4vw;
    font-size: 1.7vw;
    font-weight: 700;
    box-shadow: 0px 0px 20px 10px #121212;
    position: relative;
    top: 2vw;
    left: 17vw;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 1;
}

.introduction-img {
    width: 35vw;
    position: relative;
    top: 52vw;
    left: 5vw;
}

.introduction {
    width: 45vw;
    position: relative;
    top: 15vw;
    left: -50vw;
}

.int-header {
    font-size: 4vw;
}

.about-me {
    width: 20vw;
    position: relative;
    left: -50vw;
    top: 21vw;
}

.about-me-header {
    font-size: 2.5vw;
    position: relative;
    top: -2vw;
}

.about-portfolio {
    width: 20vw;
    position: relative;
    top: 8.5vw;
    left: -25vw;
}

.introduction-hr {
    width: 16vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    top: -16vw;
    left: -64.5vw;
}

.about-me-hr {
    width: 7vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    left: -69vw;
    top: 0.5vw;
}

.about-portfolio-hr {
    width: 12vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    left: -41.5vw;
    top: 0vw;
}

.introduction-img-hr {
    height: 34.5vw;
    width: 0px;
    border: 0.25vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    left: -22vw;
    top: -24.62vw;
}
