html {
    height: 50vw;
}

body {
background-color: #222423;
margin: 0px;
font-family: sans-serif;
color: white;
display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #3B3B3B;
}

p {
    font-size: 1vw;
}

.nav {
    position: fixed;
    display: flex;
    background-color: #3B3B3B;
    justify-content: flex-end;
    color: #ffffff;
    height: 4vw;
    align-items: center;
    width: 100vw;
    z-index: 10000000000000;
}

.dp {
    margin-right: auto;
    margin-left: 1vw;
    font-weight: 600;
    font-size: 1vw;
}

.nav-text {
    margin-right: 2vw;
    font-size: 1vw;
}

.header {
    color: #ffffff;
}

.header-img {
    margin-top: 4vw;
    width: 40vw;
}

h1 {
    margin-right: 10vw;
    font-size: 8vw;
    font-weight: 900;
    position: relative;
    top: -47vw;
    left: 45vw;
}

.bottom-header {
    position: relative;
    top: -50vw;
    left: 45vw;
}

.header-text {
    color: #ffffff;
    width: 45vw;
    margin: 0px;
    font-size: 1.3vw;
}

.header-hr {
    width: 40vw;
    border:0.1px solid white;
    position: relative;
    top: -77vw;
    left: 55.5vw
}

.header-btn {
    width: 13vw;
    height: 4vw;
    font-size: 1.7vw;
    font-weight: 700;
    box-shadow: 0px 0px 20px 10px #121212;
    position: relative;
    top: 2vw;
    left: 17vw;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 1;
}
.section{
    position: relative;
    top: 5vw;
    left: -50vw;
}

.introduction-img {
    width: 35vw;
    position: relative;
    top: 52vw;
    left: 62vw;
}

.introduction {
    width: 45vw;
    position: relative;
    top: 15vw;
    left: 7vw;
}

.int-header {
    font-size: 4vw;
}

.about-me {
    width: 20vw;
    position: relative;
    left: 7vw;
    top: 21vw;
}

.about-me-header {
    font-size: 2.5vw;
    position: relative;
}

.about-portfolio {
    width: 20vw;
    position: relative;
    top: 8.5vw;
    left: 32.5vw;
}

.introduction-hr {
    width: 16vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    top: -16vw;
    left: -7.5vw;
}

.about-me-hr {
    width: 7vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    left: -12vw;
    top: 1.5vw;
}

.about-portfolio-hr {
    width: 12vw;
    border: 0.15vw solid #ffffff;
    border-radius: 10px;
    position: relative;
    left: 16vw;
    top: 1vw;
}

.project {
    position: relative;
    left: -95vw;
}

.project-img {
    width: 30vw;
    position: relative;
    top: 80vw;
    left: 15.5vw;
}

.projects{
    position: relative;
    left: 58.5vw;
    top: 105vw;
    font-size: 3vw;
    text-align: center;
}

.project-header {
    position: relative;
    top: -2vw;
}

.projects-btn {
    position: relative;
    left: 68vw;
    top: 110vw;
    width: 10vw;
    height: 3.5vw;
    font-size: 2vw;
    font-weight: 700;
    box-shadow: 0px 0px 20px 10px #121212;
}

.projects-header-hr {
    position: relative;
    top: 55vw;
    left: 58.5vw;
    width: 27vw;
}

.project-header-hr {
    position: relative;
    top: 65vw;
    left: 58.5vw;
    width: 27vw;
}

.left-hr {
    position: relative;
    top: 59vw;
    left: 36.5vw;
    width: 14vw;
}

.right-hr {
    position: relative;
    top: 58.5vw;
    left: 80vw;
    width: 14vw;
}

.hr {
    position: relative;
    top: 58vw;
    left: -5.2vw;
    width: 14vw;
}

.thank {
    position: relative;
    left: -125vw;
}

.thanks {
    position: relative;
    top: 153vw;
    left: 20vw;
    width: 22vw;
}

.thank-you {
    font-size: 4vw;
}

.contacts {
    position: relative;
    top: 130vw;
    left: 73vw;
}

.contact {
    font-size: 4vw;
    position: relative;
    left: -4.5vw;
}

.center-hr {
    position: relative;
    top: 93.5vw;
    left: 41.6vw;
    width: 0;
    height: 41vw;
    border: 0.15vw solid white;

}

.info {
    margin-bottom: 3vw;
    font-size: 1.2vw;
}

.facebook {
    width: 3vw;
    position: relative;
    left: -4.5vw;
    top: -18.8vw;
}

.gmail {
    width: 4vw;
    position: relative;
    left: -8.2vw;
    top: -14.5vw;
}

.call {
    width: 3vw;
    position: relative;
    left: -12vw;
    top: -10.2vw;
}

.insta {
    width: 3vw;
    position: relative;
    left: -15vw;
    top: -5.5vw;
}

footer {
    position: relative;
    left: -155vw;
    text-align: center;
}

.footer {
    position: relative;
    left: 10vw;
    top: 183vw;
    width: 100vw;
    background-color: #3B3B3B;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}