body {
    background: beige;
}

.header {
    text-align: center;
    font-size: 50px;
    color: navy;
}

.res-container {
    height: 100vh;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-container {
    height: 100px;
    width: 200px;
    background-color: navy;
}